@font-face {
  font-family: 'Varela Round';
  src: url('font/Varela_Round/VarelaRound-Regular.ttf');
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --white: #DFDFDF;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Varela Round', sans-serif;
  position: relative;
  color: var(--white);
}

.background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

header, main, footer {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  gap: 1.5rem;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 3rem 4rem;
}

.current-weather {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.current-weather .overview,
.current-weather .extra {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.current-weather .extra {
  gap: 0.8rem;
}

.current-weather .extra .value {
  font-size: 1.5rem;
}

.current-weather .overview .location {
  font-size: 2rem;
}

.current-weather .overview .temp,
.current-weather .overview .temp-unit{
  font-size: 3.5rem;
}

.current-weather .overview .description {
  font-size: 2rem;
}

.current-weather .overview .icon {
  width: 6rem;
}

.current-weather .extra > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}

.hourly-weather .group,
.daily-weather {
  display: none;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.btn-container {
  margin-top: auto;
}

.hourly-weather .group.active,
.daily-weather.active,
.navigate.active {
  display: flex;
}

.btn-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.navigate {
  display: none;
}

button {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
}

.btn-container > button {
  width: 4.5rem;
  border: 0.25rem solid var(--white);
  padding: 0.5rem 0;
  border-radius: 0.4rem;
  font-size: 1.05rem;
  font-weight: 700;
}

.next, .prev {
  font-size: 1.5rem;
  font-weight: 900;
}

.navigate {
  flex-flow: row nowrap;
  gap: 0.4rem;
  align-items: center;
}

.choose {
  background-color: var(--white);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.weather {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  width: 5rem;
}

.weather > * {
  width: 100%;
}

.weather .info {
  font-size: 1.25rem;
  font-weight: 700;
}

.search-bar {
  appearance: none;
  background: none;
  color: inherit;
  outline: none;
  border: none;
  padding: 1rem 0;
  border-bottom: 0.2rem solid var(--white);
  width: 15rem;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.search-btn img {
  height: 1.25rem;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a {
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
}



